<a href="https://colab.research.google.com/github/NikhilRana2076/PythonAssignment/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples**

1)Convert tuples to list.

In [26]:
tuples1 = (10, 20, 30, 40, 50)
tuples2 = ('a', 'b', 'c', 'd','e')
tuples3 = (1, 'a', 2, 'b', 3, 'c')

tuples = (tuples1, tuples2, tuples3)
list1  = list(tuples)
print(list1)

[(10, 20, 30, 40, 50), ('a', 'b', 'c', 'd', 'e'), (1, 'a', 2, 'b', 3, 'c')]

2) Write a program to calculate direction and magnitude of the vector described by the following points.
A = (20,30)
B = (30,40)

In [27]:
import math 
A= (20, 30)
B= (30, 40)

x= B[0]-A[0]
y= B[1]-A[1]

rad= math.atan(y/x)
deg= math.degrees(rad)
print("The required direction of the vector is %d°." %deg)

mag= math.sqrt(pow(x,2)+pow(y,2))
print("The required magnitude of the vector is %.2f." %mag)

The required direction of the vector is 45°.
The required magnitude of the vector is 14.14.

3) Write a program to demonstrate data types that can be elements of a tuple.

In [53]:
a= (1)
print("The first data type is ", type(a))

b= (1.44)
print("The second data type is", type(a))

c= ('Hello')
print("The third data type is ", type(b))

d= ('a', 'e', 'i', 'o', 'u')
print("The forth data type is ", type(c))

e= list(d) 
print("The fifth data type is ", type(d))

f= {1, 2, 3, 4}
print("The first data type is ", type(e))

tuple1= (a, b, c, d, e, f)
print("\nCombinination of all the datatypes is",tuple1)
print("\nHence data types can be elements of tuples i.e",type(tuple1))

The first data type is  <class 'int'>
The second data type is <class 'int'>
The third data type is  <class 'float'>
The forth data type is  <class 'str'>
The fifth data type is  <class 'tuple'>
The first data type is  <class 'list'>

Combinination of all the datatypes is (1, 1.44, 'Hello', ('a', 'e', 'i', 'o', 'u'), ['a', 'e', 'i', 'o', 'u'], {1, 2, 3, 4})

Hence data types can be elements of tuples i.e <class 'tuple'>