<a href="https://colab.research.google.com/github/NikhilRana2076/PythonAssignment/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Students = [‘jack’,’jill’,’david’,’silva’,’ronaldo’]

Marks = [‘55’,’56’,’57’,’66’,’76’]

Make a dictionary using lists above and delete the key-value (students:marks) pairs with lowest marks.

In [ ]:
dicti= {}
students = ['jack','jill','david','silva','ronaldo']
marks = ['55','56','57','66','76']

for i in range(len(students)):
  dicti[students[i]] = marks[i]

print(dicti)

minkey = min(dicti, key=dicti.get)
print("\nThe student with less marks is ",minkey)

del dicti[minkey]

print("\n", dicti)

{'jack': '55', 'jill': '56', 'david': '57', 'silva': '66', 'ronaldo': '76'}

The student with less marks is  jack

 {'jill': '56', 'david': '57', 'silva': '66', 'ronaldo': '76'}

2) Euro = {‘France’:5,’Germany’:2,’Portugal’:3,’Hungary’:6}
Make two lists from above dictionary

In [ ]:
Euro = {'France':5,'Germany':2,'Portugal':5,'Hungary':2}
countrys= []
pointss= []
for country in Euro.keys():
  countrys.append(country)
print(countrys)
for points in Euro.values():
  pointss.append(points)
print(pointss)

['France', 'Germany', 'Portugal', 'Hungary']
[5, 2, 5, 2]

3) users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'},
        'twir56':{'name':'Visakha','age':26,'poison':'coca cola'},
        'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}
Generate a list of usernames, name, age and poison from the above dictionary.

In [ ]:
users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'},
        'twir56':{'name':'Visakha','age':26,'poison':'coca cola'},
        'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}
usernames= []
user= []
names= []
age= []
poison= []

for username, userinfo in users.items():
  usernames.append(username)
print(usernames)

for name in users.values():
   print(name)

for name1 in name.items():
  names.append(name)
print(names)

['g91', 'twir56', 'jsdl8']
{'name': 'Aron', 'age': 55, 'poison': 'Old monk'}
{'name': 'Visakha', 'age': 26, 'poison': 'coca cola'}
{'name': 'Saudi', 'age': 12, 'poison': 'hinwa'}
[{'name': 'Saudi', 'age': 12, 'poison': 'hinwa'}, {'name': 'Saudi', 'age': 12, 'poison': 'hinwa'}, {'name': 'Saudi', 'age': 12, 'poison': 'hinwa'}]

4) Take the above list and put it in order.