<a href="https://colab.research.google.com/github/NikhilRana2076/PythonAssignment/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)Make a list of ten students in your class. Print the name of each student whose name starts with ‘B’.

In [ ]:
students= ['Ashim', 'Ashmin', 'Bibek', 'Bigesh', 'Bipul', 'Nikhil', 'Prakash', 'Rochak', 'Roshan', 'Thanu']
test = 'B'
name = [idx for idx in students if idx[0].lower() == test.lower()]
print("Names starting with the letter 'B' are:\n " ,name)

Names starting with the letter 'B' are:
  ['Bibek', 'Bigesh', 'Bipul']

2)Make a list of ten students in your class. Print the name of each student whose name ends with ‘a’.

In [ ]:
students= ['Archana', 'Ashim', 'Ashmin', 'Kritika', 'Nikhil', 'Ojashwi', 'Prakash', 'Pratichya', 'Rochak', 'Thanu']
test = 'a'
name = [idx for idx in students if idx[-1].lower() == test.lower()]
print("Names ending with the letter 'a' are:\n " ,name)

Names ending with the letter 'a' are:
  ['Archana', 'Kritika', 'Pratichya']

3)Print all the unique elements in the following list 
fifa = ['Italy', 'Argentina', 'Germany', 'Brazil', 'France', 'Brazil', 'Italy', 'Spain', 'Germany', 'France']

In [28]:
import numpy
fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy','Spain','Germany','France']
print("\nUnique elements of the list is:", numpy.unique(fifa))

Unique elements of the list is: ['Argentina' 'Brazil' 'France' 'Germany' 'Italy' 'Spain']

4)Change the first alphabet of all elements of the following list to capital.
Bob = [‘hurricane’, ’tambourine’, ’blowing’, ’numb’]

In [25]:
 Bob = ['hurricane', 'tambourine', 'blowing', 'numb']
 Bob = [names.title() for names in Bob]
 print(Bob)

['Hurricane', 'Tambourine', 'Blowing', 'Numb']

5)A = [‘a’,’b’,’c’,’d’] B = [‘1’,’a’,’2’,’b’]
Find A ⋃ B and A ∩ B

In [63]:
import numpy
A= ['a', 'b', 'c', 'd']
B= ['1', 'a', '2', 'b']
combine= list(A+B)
print("\nThe union of the list A and B is:", numpy.unique(combine))

intersect = list(set(A).intersection(set(B)))
intersect.sort()
print("The intersection of the list A and B is:", intersect)

The union of the list A and B is: ['1' '2' 'a' 'b' 'c' 'd']
The intersection of the list A and B is: ['a', 'b']

6)Calculate the mean and standard deviation of the following list:
Numbers = [1,2,3,5,88,99,55,33,41,52]

In [53]:
import statistics
Numbers = [1,2,3,5,88,99,55,33,41,52]
avg = statistics.mean(Numbers)
print("The mean of the numbers given in the lists is %.2f", avg)

std = statistics.stdev(Numbers)
print("The standard deviation of the numbers given in the lists: %.4f" %std)

The mean of the numbers given in the lists is %.2f 37.9
The standard deviation of the numbers given in the lists: 36.0846